.text {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    line-height: 1.7;
    font-size: var(--font-size-header);
    color: var(--color-yellow);
    text-shadow: 0 0 2px var(--color-white);
    -webkit-text-stroke-color:var(--color-yellow);
    -webkit-text-stroke-width: .5px;
    -webkit-text-fill-color: transparent;
}

.video {
    width: 500px;
    height: 300px;
    display: block;
    margin:auto;
    margin-top: var(--spacing-medium);
    border-radius: var(--border-radius-small);
    box-shadow: var( --box-shadow-white);
}