.container {
    position: relative;
    top: 0;
    left: 0;
    width: 35px;
    flex-shrink: 0;
    height: 35px;
    margin-left: auto;
}
.icon {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center center;
}

.counter {
    position: absolute;
    top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    color: var(--color-black);
    background: var(--color-white);
    height: 20px;
    box-shadow: var(--box-shadow-black);
    font-size:var(--font-size-main);
    font-weight: var(--font-bold);
    border-radius: 50%;
    left: -5px;
}