.info__block {
    width: 300px;
    padding: var(--spacing-large);
    background: rgba(0, 0, 0, .5);
    border-radius: var(--border-radius-small);
    margin-left: var(--spacing-large);
    color: var(--color-white);
    font-size: var(--font-size-subheader);

}
.info__item {
    padding: var(--spacing-ultrasmall);
    margin-bottom: var(--margin-list);
}
.title__text {
    text-decoration: underline;
    text-shadow: var(--text-shadow-blue);
}