.nav__block {
    display: flex;
    justify-content: center;
    margin: 10px 0 ;
}
.nav__block a {
    margin: 0 0 0 20px;
}
.nav__btn {
    padding: 10px;
    min-width: 100px;
    border: 1px solid var(--color-white);
    border-radius: var(--border-radius-small);
    background: none;
    font-size:18px;
    color: var(--color-white);
    font-weight: var(--font-bold);
    transition: var(--transition);
}
.link {
    margin: 5px;
}
.nav__btn:hover {
    background: var(--color-white);
    color: var(--color-black);
}
